/*  MEDIA QUERIES*/

@media all and (max-width:1000px) {
  
  html {font-size: 75%;}
  
  .container {
    flex-direction: column;
    padding: 3.1rem;
  }

  .col {
    margin: 2rem 0;
  }

  .col1 {
    text-align: center;
    align-items: center;
    justify-content: center;
    padding: 1rem;
  }

  .heading {
   font-size: 3rem;
  }

  .flex-nav {
    padding: 2rem;
  }

  .col p {
    font-size: 1.8rem;
    font-weight: 400;
    margin-bottom: 1rem;
    padding: 0 2rem;
    margin-bottom: 4rem;
  }

  .btn {
    font-size: 1.5rem;
  }

  .main__container {
    flex-direction: column;
    margin: 2rem 2rem;
  }

  .col--text {
    text-align: center;
    font-size: 1.5rem;
    padding: 4rem;
  }

  #footer {
    height: auto;
  }
  .footer__cta {
    top: -15%;
  }

  .footer__box {
    display: flex;
    flex-direction: column;
  }
  .footer--grid {
    font-size: 1.5rem;
    margin-left: 0;
    margin-bottom: 4rem;
  }

  .socialss {
    align-self: center;
  }

  .row {
    padding-bottom: 1rem;
    display: flex;
  }
  
  .footer__cta {
    top: -8%;
  }

}
  

@media all and (max-width:500px) {
  
  html {font-size: 55%;}

  .container {
    flex-direction: column;
    padding: 3.1rem;
  }

  .col1 {
    flex: 1;
    padding-right: 0px;
    text-align: center;
    align-items: center;
    justify-content: center;
    padding-bottom: 1rem;
  }

  .col2 {
    flex: 1;
  }

  .flex-nav {
    padding: 2rem;
  }

  .col p {
    font-size: 1.8rem;
    font-weight: 400;
    margin-bottom: 1rem;
    padding: 0 2rem;
    margin-bottom: 4rem;
  }

  .main__container {
    margin: 6rem 1rem;
  }

  .footer__cta {
    top: -12%;
  }

  .footer__container {
    display: flex;
    flex-direction: column;
  }

  .footer__box {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
  }

  .footer--grid {
    flex: 1;
    margin-top: 1rem;
    margin-left: 0;
    align-items: flex-start;
  }

  .socialss {
    align-self: center;
  }

  .imgdiv {
    width: 10%;
  }

  .imgdiv img {
    width: 50%;
  }

  .row {
    flex-direction: column;
  }

  .footer__cta {
    top: -8%;
  }

}

@media all and (max-width:375px) {
 html {
   font-size: 50%;}
 
   .footer_cta {
     top: -150%;
   }

   .footer--grid {
    flex: 1;
    margin-top: 1rem;
    align-items: flex-start;
  }
  .ex {
    display: block;
    width: 50%;
  }
  .ex img {
    width: 100%;
  }

  .imgdiv {
    width: 10%;
  }

  .imgdiv img {
    width: 50%;
  }

  .row {
    flex-direction: column;
  }
  .footer__cta {
    top: -8%;
  }
}